.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  .link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;
    &:hover {
      color: gray;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}
